<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - My Site</title>
  <link rel="stylesheet" href="{{ '/assets/styles.css' | relative_url }}">
</head>

<body>
  <header>
	<!--
    <h1><a href="/">My Site</a></h1>
    <nav>
      <ul>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
-->
  </header>

  <main>
    {{ content }}
  </main>

  <footer>
    <p>&copy; 2025 Ayameki</p>
  </footer>
</body>
</html>
